<h5>Exemplos de pipes:</h5>

<p>Título: {{ livro.title | uppercase | camelCase }}</p> <!--Pipe de transformação-->
<p>Estrelas: {{ livro.rating | number:'1.1-1' }}</p> <!--Mostrar apenas duas casas decimais defina number e os argumentos após os :-->
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL':true }}</p> <!--Use o currency para moeda, também da para passar argumentos após : exemplo currency:'BRL' para que fique com o R$ basta colocar :true após o BRL-->
<p>Data de Lançamento: {{ livro.dataLancamento | date:'dd/MM/yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>
<p>Livro: {{ livro | json }}</p>

<input type="text" [(ngModel)]="filtro">

<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Adicionar Curso</button>

<ul>
    <li *ngFor="let liv of livros | filtroArray: filtro">
        {{ liv }}
    </li>
</ul>

<p>{{ valorAsync | async }}</p>

<p>Async: {{ valorAsync2 | async }}</p>